<html>
	<body>
		<h1>Contrat saisonnier (de date à date)</h1>
		ENTRE<br />
		La société : {{ entreprise.denomination }}<br />
		Adresse : {{ entreprise.adresse }}<br />
		Numéro Urssaf :{{ entreprise.numeroUrssaf }}<br /> 
		ET : <br />
		{{ object.individu.denom }} <br />
		Adresse : {{ object.individu.adresse }} <br />
		Numéro de Sécurité sociale : {{ object.individu.numeroSecuriteSociale }}<br /> 
		<h3>IL A ÉTÉ CONVENU ET ARRÊTÉ CE QUI SUIT : </h3>
		<h2>Article1 : Objet</h2>
{% if object.typeDuContrat == 'S' %}
La société {{entreprise.denomination}} engage {{ object.individu.denom }} sous contrat à durée déterminée saisonnier.
{% else %}
La société {{entreprise.denomination}} engage {{ object.individu.denom }} pour un contrat extra, emploi temporaire par nature.
{% endif %}
<h2>Article 2 : Fonction</h2>
M  {{ object.individu.nom }} {{ object.individu.prenom }} est embauché en qualité de {{object.emploi}} au niveau 1 à l'échelon 1 <br />
Vos fonctions consisteront notamment à : {{ object.fonction }}<br />
Ces fonctions sont données à titre indicatif et ne sont pas exhaustives ni définitives. 
<h2>Article 3 : Durée du contrat</h2>
{% if object.typeDuContrat == 'S' %}
Le présent contrat prendra effet le {{object.dateDebut|date:"d F Y"}} pour se terminer le {{ object.dateFin|date:"d F Y" }} <br />
Sa durée est fixée à {{ object.nbMois|floatformat:1 }} mois. <br /> 
Il pourra être renouvelé une fois pour une durée égale au plus ou au moins à celle du contrat initial mais dans la limite de la durée de la saison. <br />
{% else %}
Vous êtes embauché à compter du ............ à ............ Heures, pour une vacation de ............ heures.
{% endif %}
<h2>Article 4 : Période d'essai</h2>
La période d'essai débutera le  {{object.dateDebut|date:"d F Y"}} et aura une durée de {{ object.dureePeriodeEssai }} jours <br />
Au cours de cette période, chacune des parties pourra rompre librement le contrat sans préavis ni indemnité. <br />
<h2>Article 5 : Rémunération</h2>
{{ object.individu.denom }}  percevra un salaire brut mensuel de {{ object.nombreHeuresSemaine|floatformat }}h/Semaine au SMIC, avantages en nature compris.  
<h2>Article 6 : Horaires de travail</h2>
L’horaire hebdomadaire de travail est de {{ object.nombreHeuresSemaine|floatformat }} heures hebdomadaires, soit {{ object.hMois|floatformat:2 }} heures mensuelles. <br />
{% if object.nombreHeuresSemaine > 35 %}
Les heures effectuées entre la 36ème et la 39ème heure sont des heures supplementaires majorées au taux de 10 % et qui sont comprises dans votre rémunération brute mensuelle <br />
{% if object.nombreHeuresSemaine > 39 %}
Les heures effectuées entre la 40ème et la 43ème heure sont des heures supplementaires majorées au taux de 20 % et qui sont comprises dans votre rémunération brute mensuelle <br />
{% if object.nombreHeuresSemaine > 43 %}
Les heures effectuées au dela de la 44ème heure sont des heures supplementaires majorées au taux de 50 % et qui sont comprises dans votre rémunération brute mensuelle <br />
{% endif %}
{% endif %}
{% endif %}

<h2>Article 7 : Heures supplémentaires</h2>
Vous pourrez être amené dans l’exercice de vos fonctions à effectuer des heures supplémentaires au-delà de  {{ object.nombreHeuresSemaine|floatformat }}  heures mais dans le respect de la législation en vigueur. 
<h2>Article 8 : Jours de repos</h2>
Vous avez droit à 2 jours de repos hebdomadaire, mais ceux-ci peuvent être suspendus en tout ou partie conformément à la convention collective nationale des CHR du 30 avril 1997. Dans ce cas, ils donneront lieu à compensation en temps ou en argent à la fin de la saison. 
<h2>Article 9 : Congés payés</h2>
Conformément à la législation en vigueur, vous bénéficiez de 2,5 jours ouvrables de congés payés par mois de travail effectif. 
À l’issue de votre contrat de travail, vous percevrez donc une indemnité de congés payés égale à 10 % de votre salaire brut perçu. 
<h2>Article 10 : Caisse de retraite et prévoyance</h2>
{{ object.individu.denom }}  sera affilié à la caisse de retraite complémentaire Mornay, 14 rue STHRAU, 75631 Paris Cedex 1<br />
Vous bénéficierez également d'un régime de prévoyance complémentaire auprès de HCR Santé
<h2>Article 11 : Règlement intérieur</h2>
{{ object.individu.denom }} s’engage à se conformer aux dispositions du règlement intérieur de l'établissement.
<h2>Article 12 : Convention collective</h2>
Vous bénéficiez des dispositions de la convention collective des CHR du 30 avril 1997 et de ses deux avenant n° 2 et n°2 bis du 5 février 2007.
Vous pouvez la consulter auprès de Simon Pessemesse ou Amelie Pessemesse.
<br /><br />
Fait en 2 exemplaires <br />
À Buoux , le   {{object.dateDebut|date:"d F Y"}} <br />
Signature de l'employeur <br />
(Nom et titre du signataire) <br /><br /><br />



Signature du salarié<br />
(Précédée de la mention « Lu et approuvé » de la main du salarié) <br /> <br /> <br /><br /><br /><br />





	</body>
</html>
