body,th,td,caption { /* Modifications : la couleur de fond de page - la police - l'unité utilisée pour la taille de la police  */ 
    font-size :8pt; 
	font-family: arial, verdana, sans-serif;
} 
 
#page { /* Modifications : suppression de la bordure - marges */ 
    margin :0; 
    border :none; 
} 
 
/* 
h1#top { /* Affichage du titre *
    margin :0; 
    padding :0; 
    text-indent :0; 
    line-height :25pt; 
    font-size :25pt; 
} */
 /*h2, h3, #contenu h3, #contenu a, a { /* Modification de la couleur des titres et liens *
    color :#000; 
} 
	*/

