{% load staticfiles %}
<html> <head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href={% static "style.css" %} type="text/css">
<link rel="stylesheet" media="all" title="style de la page" href={% static "css/afficher_cacher_div.css" %} />
<script type="text/javascript" src={% static "js/afficher_cacher_div.js" %}></script>


<script type="text/javascript" src={% static "js/jquery-1.7.2.min.js" %}></script>
<script type="text/javascript" src={% static "js/jquery-ui-1.8.21.custom.min.js" %}></script>
<link type="text/css" href={% static "css/jquery-ui-1.8.21.custom.css" %} rel="stylesheet" />
<!-- script src="js/jquery.bgiframe-2.1.2.js"></script>
	<script src="js/jquery.ui.core.js"></script>
	<script src="js/jquery.ui.widget.js"></script>
	<script src="js/jquery.ui.mouse.js"></script>
	<script src="js/jquery.ui.draggable.js"></script>
	<script src="js/jquery.ui.position.js"></script>
	<script src="js/jquery.ui.resizable.js"></script>
	<script src="js/jquery.ui.dialog.js"></script -->

<SCRIPT LANGUAGE="JavaScript">
function affichage_popup(nom_de_la_page, nom_interne_de_la_fenetre)
{
window.open (nom_de_la_page, nom_interne_de_la_fenetre, config='height=0, width=0, toolbar=no, menubar=no, scrollbars=no, resizable=yes, location=no, directories=no, status=no')
}
function protege() {
  return confirm('Ce client est protege; Etes vous sur que vous voulez l\'editer ?');
}

</SCRIPT>


{% block head %}{% endblock %}
</head>
<body {% block insideBody %}{% endblock %}>
<div class="container">
{% block content %}{% endblock %}
</div>
</body>
</html>

